.nav-header {
  box-shadow: 0px 10px 10px -15px #111;
}

.logo-heading {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 35px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .my-orders-text {
    display: none;
  }

  .logo-heading {
    font-size: 25px;
  }

  .logout {
    display: none;
  }
}

cart {
  flex: d-flex;
}

.cart-icon-container {
  position: relative;
  margin-left: 10px;
}

.cart-count-badge {
  position: absolute;
  top: -15px;
  right: -5px;
}

.cart-count {
  text-align: center;
  background-color: #ff6347;
  padding: 4px 2px 2px;
  color: #ffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  min-width: 25px;
  border-radius: 50%;
}

@media screen and (min-width: 576px) {
  .cart {
    flex: d-flex;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
  }

  .logout {
    color: white;
    background-color: blue;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    outline: none;
  }
}
